@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body {
    font-family: 'poppins', sans-serif;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(Images/survey-form-background.jpeg);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

input[type="submit"] {
    border: none;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

h1 {
    font-weight: 390;
    line-height: 1.1;
}

p {
    font-size: 1.1rem;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}